/// Move things around the page

=width($max-width: 100%)
  max-width: $max-width
  margin: 0 auto

=align-content($x: left, $y: top)
  display: flex
  justify-content: $x
  align-items: $y
  text-align: $y

// Grid
  parm 1: number of columns
  parm 2: minimum width
  parm 3: max width
  2 and 3 can be percentage or pixels

=grid($numcols: 2, $min: auto, $max: auto)
  display: grid
  grid-template-columns: minmax($min, $max) repeat($numcols - 1 , 1fr)
  align-items: center
