/// Move things around the page

=width($max-width: 100%)
  max-width: $max-width
  margin: 0 auto

=align-content($x: left, $y: top)
  display: flex
  justify-content: $x
  align-items: $y
  text-align: $y

=grid($numcols: 2, $min: auto, $max: auto)
  div.grid.row
    display: grid
    grid-template-columns: minmax($min, $max) repeat($numcols - 1 , 1fr)
