// for use with cms

=tpl-nycms

    $padding: 10px

    html
        +htmldefaults
        +bodystyle

    +tabs
    +forms
    +tables
    +messages
    +framework-dashboard
    +framework-header(#bebebe, #000000, $padding, #00aa00)
    +adminbar
    
    #page > .container
        +grid(3)
        align-items: normal

    article
        margin: 0
        padding: $padding
